run = "echo \"# Simple-Calculator\" >> README.md git init git add README.md git commit -m \"first commit\" git branch -M main git remote add origin https://github.com/Hike-projects/Simple-Calculator.git git push -u origin main"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "echo \"# Simple-Calculator\" >> README.md git init git add README.md git commit -m \"first commit\" git branch -M main git remote add origin https://github.com/Hike-projects/Simple-Calculator.git git push -u origin main"]
